[Unit]
Description=gosudoku service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=clive
WorkingDirectory=/home/clive/code/hook
ExecStart=/usr/local/bin/node -c "node hook.js"

[Install]
WantedBy=multi-user.target
